<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Welcome to YQ'web</title> </head>

<body>
<h1>Welcome to YQ's web!</h1>

<ul>
  <li><a href="waterfall">Building Status</a>, a time-oriented summary of recent build activity </li>
  <li><a href="one_box_per_builder">Latest Build</a> for each builder is here.</li>
  <li><a href="one_line_per_build">Recent Builds</a> are summarized here, one per line.</li>
  <li><a href="buildslaves">Buildslave</a> information</li>
  <li> Performance Preview </li>
  <iframe type="text/html" width="1000" height="600" src="http://10.209.158.6:8180/graph.html#tests=[[5433442867085312,6461486239055872,5898536285634560],[5433442867085312,5054111355502592,5335586332213248]]&displayrange=7&datatype=running&tooltips=true" frameborder="0"</iframe>
</ul>
</body> </html>

