<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-15">
<title>Welcome to YQ'web</title> </head>

<body>
<h1>Welcome to YQ's web!</h1>

<ul>
  <li><a href="waterfall">Building Status</a>, a time-oriented summary of recent build activity </li>
  <li><a href="one_box_per_builder">Latest Build</a> for each builder is here.</li>
  <li><a href="one_line_per_build">Recent Builds</a> are summarized here, one per line.</li>
  <li><a href="buildslaves">Buildslave</a> information</li>
  <a href="https://coderwall.com/sloanyang"><img alt="Endorse sloanyang on Coderwall" src="https://api.coderwall.com/sloanyang/endorsecount.png" /></a>
  <li> Performance Preview </li>
  <iframe type="text/html" width="1000" height="600" src="http://192.168.0.21:8080/graph.html#tests=[[5910974510923776,5066549580791808,6192449487634432]]&sel=none&displayrange=365&datatype=running" frameborder="0"</iframe>
</ul>
</body> </html>

